#works{
    margin: 0 auto;
    min-width: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: o 1rem;
}

.workstitle{
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDescription{
    font-weight: 300;
    font-size: 1rem;   
}

.worksImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    max-width: 65rem;
}

.worksImg{
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}

.seeMoreBtn{
    margin: 4rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    background: white;
    border-radius: 2rem;
    font-size: 1rem;
}

@media screen and (max-width: 585px) {
    .worksImg{
        height: 48vw;
    }
}